@use '../helpers' as *;

.footer {
    width: rem(240);
    height: rem(272);
    margin: rem(48) auto;

    &__loading-icon {
        display: flex;
        justify-content: center;
    }

    &__loading-icon svg {
        color: #096FFA;
        animation: rotate 2s linear infinite;
    }

    &__links {
        margin-top: rem(60);
        display: flex;
        justify-content: space-between;

        &>a {
            text-decoration: none;
            font-family: "Lato", sans-serif;
            font-size: rem(12);
            font-weight: 400;
            line-height: rem(14);
            letter-spacing: rem(0);
            color: black;
        }

        &>a:hover {
            color: #096FFA;
        }
    }

    &__powered {
        margin-top: rem(24);
        margin-bottom: rem(8.3);
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(14);
        letter-spacing: rem(0);
        color: black;
    }

    &__logo {
        display: block;
        margin: 0 auto;
    }

    &__copyright {
        margin-top: rem(24.7);
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(14);
        letter-spacing: rem(0);
        color: black;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}